<div class="container">
    <mat-card class="example-card">
        <mat-card-content>
            <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Compose A Notification</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Subject" formControlName="firstCtrl" required>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput row="5" placeholder="Message" formControlName="secondCtrl" required></textarea>
                        </mat-form-field>
                        <div class="buttonContainer-end">
                            <button mat-raised-button color="primary" matStepperNext>Next Step</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Select Recipient Groups</ng-template>
                        <mat-grid-list cols="4" rowHeight="200px" gutterSize="30px" class="gridContainer">
                            <mat-grid-tile class="grid-button" *ngFor="let department of departments" (click)="gridClicked(department.name)" 
                            [ngClass]="{selectedButton: department.selected}">{{department.name}}</mat-grid-tile>
                        </mat-grid-list>
                        <div class="buttonContainer-between">
                            <button mat-raised-button color="primary" matStepperPrevious>Previous Step</button>
                            <button mat-raised-button color="primary" matStepperNext>Next Step</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Send Notification</ng-template>
                    <div class="textContainer">
                        <span>Your Notification is Ready to be Sent</span>
                    </div>
                    <div class="buttonContainer-between">
                        <button mat-raised-button color="primary" (click)="stepper.reset()">Restart</button>
                        <button mat-raised-button color="primary" (click)="sendNotification()">Send</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>