<div class="container">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="textContainer">
                <span>Welcome To Relias Notifications</span>
            </div>
            <ul class="buttonContainer">
                <li>
                    <a routerLink="/compose-notification" routerLinkActive="active">
                        <button mat-raised-button color="primary">Compose Notification</button>
                    </a>
                </li>
                <li>
                    <a routerLink="/compose-notification" routerLinkActive="active">
                        <button mat-raised-button color="primary">Administrative Tools</button>
                    </a>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>