/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0 !important;
}

html {
    height: 100%;

    body {
        margin: 0 !important;
        background-color: rgb(236, 236, 236);
        height: 100%;

        app-root {
            height: 100%;

            main {
                height: 100%;

            }
        }
    }
}