<div class="container">
  <mat-card class="example-card main-card">
    <mat-card-header>
      <div class="textContainer">
        <span>Welcome To Relias Notifications</span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div>
        <ul class="buttonContainer">
          <li>
            <a routerLink="/compose-notification" routerLinkActive="active">
              <button mat-raised-button color="primary">
                <i class="material-icons">add_alert</i>
                <span>Compose Notification</span>
              </button>
            </a>
          </li>
          <li>
            <a routerLink="/compose-notification" routerLinkActive="active">
              <button mat-raised-button color="primary">
                <i class="material-icons">settings</i>
                <span>Administrative Tools</span>
              </button>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>