<div class="container">
  <mat-card class="example-card main-card">
    <mat-card-header>
      <div class="textContainer">
        <span>Welcome To Relias Notifications</span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div>
        <ul class="buttonContainer">
          <li>
            <a routerLink="/compose-notification" routerLinkActive="active">
              <button mat-raised-button color="primary">
                <i class="material-icons">add_alert</i>
                <span>Compose Notification</span>
              </button>
            </a>
          </li>
          <li>
            <a routerLink="/admin-tools" routerLinkActive="active">
              <button mat-raised-button color="primary">
                <i class="material-icons">settings</i>
                <span>Administrative Tools</span>
              </button>
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="notifications.length > 0">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource">
          <!-- Title Column -->
          <ng-container matColumnDef="alerts">
            <mat-header-cell *matHeaderCellDef> Existing Alerts </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>
          <!-- Author date Column -->
          <ng-container matColumnDef="author" class="date-column">
              <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
            </ng-container>
          <!-- Created date Column -->
          <ng-container matColumnDef="date" class="date-column">
            <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created | date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>