.container {
    min-height: 70%;
    display: block;
}

mat-card-header {
    padding-bottom: 10px;
    border-bottom: .5px solid lightgray;

    span {
        font-size: 24px;
        font-weight: bold;
    }
}

.textContainer {
    text-align: center;
    //margin-top: 200px !important;

    span {
        display: inline-block;
        font-size: 30px;
        font-weight: 500px;
    }
}

.buttonContainer {
    width: 70%;
    padding: 0;
    margin: 20px auto 40px auto;
    // margin-left: -40px;
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    padding-top: 20px;
    li {
        // text-align: center;

        button {
            padding: 5px 40px;
            font-size: 18px;
            font-weight: normal;
        }

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
}

mat-row:hover {
    background-color: rgba(228, 227, 227, 0.4);
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .date-column {
      width: 60px;
  }
