.container {
    min-height: 70%;
    display: block;
}

mat-card-header {
    padding-bottom: 10px;
    border-bottom: .5px solid lightgray;
}

.textContainer {
    text-align: center;
    //margin-top: 200px !important;

    span {
        display: inline-block;
        font-size: 30px;
        font-weight: 500px;
    }
}

.buttonContainer {
    width: 70%;
    padding: 0;
    // margin: 100px auto 0px auto;
    margin-left: -40px;
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    padding-top: 20px;
    li {
        // text-align: center;

        button {
            padding: 5px 40px;
            font-size: 18px;
            font-weight: normal;
        }

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
}